@import '~normalize.css';
@import '../font/music-react/iconfont.css';
*{
  margin:0px;
  padding:0px;
}
a{
    text-decoration: none;
}
input,button{
    border: none;
    outline: none;
}
li{
    list-style: none;
}
body{
    font-family: Arial,Helvetica,sans-serif;
}
img{
    border: 1px solid rgba(153,153,153,.4);
}
.header-wrapper
{
  width:1100px;
  margin:0 auto;
}
.body-wrapper
{
  width:730px;
  margin: 0 auto;
}
.text-overflow-single
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
